BOT_TOKEN=
OWNER_TELEGRAM_ID=
GOOGLE_SHEET_ID=1bjIBmFS9lfJCxC5-hkIoPLKKmPeRDaeaQZV90EytT90
GOOGLE_CREDENTIALS_FILE=credentials.json
LLM_API_KEY=
LLM_BASE_URL=https://api.proxyapi.ru/anthropic
LLM_MODEL=claude-3-5-haiku-20241022
TIMEZONE=Europe/Moscow
